<h1 class="container animated fadeIn fast">Transportistas <small>Nacional e Internacional</small></h1>
<hr>

<div class="card-columns">

    <div class="card">
        <img src="assets/images/transportista01.png" class="card-img-top" alt="Imagen de atrjeta de transportista">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

            <button type="button" class="btn btn-outline-success btn-block">Ver más..</button>
        </div>
    </div>

    <div class="card">
        <img src="assets/images/transportista02.png" class="card-img-top" alt="Imagen de atrjeta de transportista">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

            <button type="button" class="btn btn-outline-success btn-block">Ver más..</button>
        </div>
    </div>

    <div class="card">
        <img src="assets/images/transportista03.png" class="card-img-top" alt="Imagen de atrjeta de transportista">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

            <button type="button" class="btn btn-outline-success btn-block">Ver más..</button>
        </div>
    </div>

    <div class="card">
        <img src="assets/images/transportista04.png" class="card-img-top" alt="Imagen de atrjeta de transportista">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

            <button type="button" class="btn btn-outline-success btn-block">Ver más..</button>
        </div>
    </div>

    <div class="card">
        <img src="assets/images/transportista05.png" class="card-img-top" alt="Imagen de atrjeta de transportista">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

            <button type="button" class="btn btn-outline-success btn-block">Ver más..</button>
        </div>
    </div>



</div>